# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
Web-Interface/.idea
.idea/codeStyleSettings.xml
dist
/.pypirc.ini
/python_rucaptcha.egg-info/
/Web-Interface/.idea/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/deployment.xml
.idea/webServers.xml
__pycache__/
python_rucaptcha.egg-info/
