# Created by .ignore support plugin (hsz.mobi)
python_rucaptcha.egg-info/
\.idea/
Web-Interface/
/ico.png
python_rucaptcha/__pycache__/
build/

\.vscode/

examples/callback_examples/__pycache__/

CaptchaTester/callback_examples/__pycache__/

__pycache__/
