{% block content %}
    <script>
        function onSubmit(token) {
            document.getElementById("invisible_recaptcha").submit();
        }
    </script>
    <form style="height: 150px" name="invisible_recaptcha" id="invisible_recaptcha" method="POST">
        <label>Рекапча v.2 невидимая</label>
        <p></p>
        <button
                name="recaptcha_invisible_btn"
                class="g-recaptcha"
                data-sitekey="6LcC7SsUAAAAAN3AOB-clPIsrKfnBUlO2QkC_vQ7"
                data-callback="YourOnSubmitFn">
            Отправить
        </button>
    </form>
{% endblock %}