{% block content %}
    <form  style="height: 150px" enctype="multipart/form-data" method="POST">
        <label>Рекапча v.2 новая</label>
        <div class="g-recaptcha" data-sitekey="6Lf77CsUAAAAALLFD1wIhbfQRD07VxhvPbyQFaQJ"></div>
        <button type="submit" name="recaptcha_new_btn" class="btn btn-default" data-toggle="tooltip"
                data-placement="left" onclick="this.style.display='none';">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Отправить
        </button>
    </form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
{% endblock %}