{% block content %}
  <form style="height: 120px" name="text_captcha" enctype="multipart/form-data" method="post" >
    <label>Текстовая капча</label>
    <div class="input-group">
        <div style="width:100px;" class="input-group-addon">
            Вопрос
        </div>
        <input style="height: 30px; width: 230px" maxlength="400" name="text_captcha_question"
               value="{{ payload.text_captcha_source[0] }}">
    </div>
      <div class="input-group">
                <div style="width:100px;" class="input-group-addon">
            Ответ
      </div>
      <input style="height: 30px; width: 150px" maxlength="400" name="text_captcha_answer"
             value="{{ payload.text_captcha_source[1] }}">
      </div>

      <div>
          <button type="submit" name="text_captcha_btn" class="btn btn-default" data-toggle="tooltip"
                  data-placement="left" onclick="this.style.display='none';">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Отправить
          </button>
      </div>
  </form>
{% endblock %}