{% block content %}
		<div id="menuleft">
			<ul><h4>Меню</h4>
                <li>
                    <a href="https://rucaptcha.com/">
                        <button title="Переход на сайт сервиса" style="min-width:90%; max-width: 100%"
                                type="button" class="btn btn-default"
                                data-toggle="modal">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            Сайт RuCaptcha
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AndreiDrang/python-rucaptcha">
                        <button title="Переход на сайт с исходным кодом библиотеки" style="min-width:90%; max-width: 100%"
                                type="button" class="btn btn-default"
                                data-toggle="modal">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            Исходные файлы
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/invisible_recaptcha">
                        <button title="Страница с Invisible ReCaptcha" style="min-width:90%; max-width: 100%"
                                type="button" class="btn btn-default"
                                data-toggle="modal">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            Invisible ReCaptcha
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/help">
                        <button title="Страница с мануалом по использованию библиотеки" style="min-width:90%; max-width: 100%"
                                type="button" class="btn btn-default"
                                data-toggle="modal">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            Помощь
                        </button>
                    </a>
                </li>
                <li>
                    <a>
                        <button title="И т.д."
                                type="button" class="btn btn-default" style="min-width:90%; max-width: 100%"
                                data-toggle="modal">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            И т.д.
                        </button>
                    </a>
                </li>
			</ul>
		</div>
{% endblock %}