sphinx==9.0.3
pallets_sphinx_themes==2.3.0
myst-parser==4.0.1
enum-tools[sphinx]==0.13.0
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
