<html lang="en">
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
      <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
      <title>Captcha-Tester</title>
      {% block header %}
          {% include 'header.html' %}
      {% endblock %}
  </head>
  <body>
    <div>
        {% block page %}
            {% include doc %}
        {% endblock %}

        {% block footer %}
          <p>{% include 'footer.html' %}</p>
        {% endblock %}

    </div>
  </body>
</html>