<!DOCTYPE html>
<html lang="en">
<head>
	<title>Captcha-Tester</title>
	<link rel="shortcut icon" href="/static/image/logo.gif" type="image/png">
	<meta charset="utf-8">
	<meta name="description" content="capcha">
	<meta name="author" content="Ilia Shibko">
	<link href="/static/bootstrap/css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Hotjar Tracking Code for http://85.255.8.26 -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:571762,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>

  <body>
  <header>
      {% block header %}
          {% include 'header.html' %}
      {% endblock %}
  </header>
  <main>
      {% block user_menu %}
          {% include 'elements/user_menu.html' %}
      {% endblock %}
      {% block page %}
          {% include doc %}
      {% endblock %}
      <div id="info">
          <p><a href="#">Дополнительная информация</a></p>
      </div>
  </main>
  </body>
  <footer>
      {% block footer %}
          {% include 'footer.html' %}
      {% endblock %}
  </footer>
</html>