{% block content %}
    <div style="margin-left: 50px; margin-right: 50px">
        <div id="two_column>">
            <div id="first_column">
                <div>
                    {% block common_captcha %}
                        {% include 'elements/common_captcha.html' %}
                    {% endblock %}
                </div>
                <div>
                    {% block text_captcha %}
                        {% include 'elements/text_captcha.html' %}
                    {% endblock %}
                </div>
                <div style="height: 100px; margin-top: 15px">
                    <label>Большая капча</label>
                    <br/>
                    <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Отправить
                    </button>
                    <br/>
                </div>

                <div>
                     {% block solvemedia_captcha %}
                        {% include 'elements/solvemedia_captcha.html' %}
                    {% endblock %}
                </div>

                <div style="height: 100px; margin-top: 15px">
                    <label>KeyCaptcha</label>
                    <br/>
                    <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Отправить
                    </button>
                    <br/>
                </div>

            </div>
        </div>

        <div id="second_column">
            <div>
                {% block recaptcha_v2_new %}
                    {% include 'elements/recaptcha_v2_new.html' %}
                {% endblock %}
            </div>

            <div style="height: 100px; margin-top: 15px">
                <label>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <a href="/invisible_recaptcha">
                            Перейти к Invisible ReCaptcha
                        </a>
                    </span>
                </label>
            </div>

            <div style="height: 100px; margin-top: 15px">
                <label>Click Captcha</label>
            	<br/>
                <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Отправить
                </button>
                <br/>
            </div>

            <div style="height: 100px; margin-top: 15px">
                <label>Rotate Captcha</label>
            	<br/>
                <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Отправить
                </button>
                <br/>
            </div>

            <div  style="height: 100px; margin-top: 15px">
                <label>Fun Captcha</label>
            	<br/>
                <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Отправить
                </button>
                <br/>
            </div>

            <div  style="height: 100px; margin-top: 15px">
                <label> Audio ReCaptcha V2</label>
                <br/>
                <button type="submit" name="big_captcha_btn" class="btn btn-default" data-toggle="tooltip" data-placement="left" 		onclick="this.style.display=&#39;none&#39;;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Отправить
                </button>
                <br/>
            </div>

        </div>

    </div>

{% endblock %}