{% block content %}
<div class="container-fluid cont-wrap ng-scope">
    <div style="margin-left: 50px; margin-right: 200px">
    <div class="row">
        <div class="col-sm-3">
            {% block user_menu %}
                {% include 'elements/user_menu.html' %}
            {% endblock %}
        </div>
        <div class="col-sm-8">
            <div class="col-sm-6">
                {% block common_captcha %}
                    {% include 'elements/common_captcha.html' %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                Текстовая капча
            </div>
            <div class="col-sm-6">
                Большая капча
            </div>
            <div class="col-sm-6">
                {% block recaptcha_v2_new %}
                    {% include 'elements/recaptcha_v2_new.html' %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                {% block recaptcha_v2_invisible %}
                    {% include 'elements/recaptcha_v2_invisible.html' %}
                {% endblock %}
            </div>
            <div class="col-sm-6">
                Click Captcha
            </div>
            <div class="col-sm-6">
                Rotate Captcha
            </div>
            <div class="col-sm-6">
                Fun Captcha
            </div>
            <div class="col-sm-6">
                Audio ReCaptcha V2
            </div>
            <div class="col-sm-6">
                SolveMedia audio captcha
            </div>
            <div class="col-sm-6">
                KeyCaptcha
            </div>
        </div>
        <div class="col-sm-1">
            Дополнительная информация
        </div>
    </div>
    </div>
</div>

{% endblock %}