name: Lint

on:
  push:
    branches: [ "master", "release"]
    paths:
      - '.github/workflows/lint.yml'
      - 'src/**'
      - 'Makefile'
      - 'requirements.style.txt'
  pull_request:
    branches: [ "master", "release"]
    paths:
      - '.github/workflows/lint.yml'
      - 'src/**'
      - 'Makefile'
      - 'requirements.style.txt'

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.style.txt

    - name: Lint
      run: make lint
